# Default ignored files
/../../Given a string S that represents column title of an Excel sheet  find the number that represents that column./.idea/shelf/
/../../Given a string S that represents column title of an Excel sheet  find the number that represents that column./.idea/workspace.xml
